<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.lance.user.mapper.AuthAccountMapper">
    <resultMap id="BaseResultMap" type="fun.lance.api.user.model.dao.AuthAccount">
        <id column="uid" property="uid" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="create_ip" property="createIp" />
        <result column="status" property="status" />
        <result column="sys_type" property="sysType" />
        <result column="user_id" property="userId"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="is_admin" property="isAdmin"/>
    </resultMap>

    <sql id="Base_Column_List">
        `uid`, create_time, update_time, username, `password`, create_ip,
        `status`, sys_type, user_id, tenant_id, is_admin
    </sql>

    <select id="getAuthAccountInfoByUsername" resultType="fun.lance.common.security.model.bo.AuthAccountVerifyBO">
        select user_id, sys_type,uid,password,is_admin,tenant_id, status from auth_account
        where sys_type = #{sysType} and status != -1
        <if test="userNameType == 1">
            and username = #{userName}
        </if>

    </select>
</mapper>
